<h1>Congrats!</h1>

<p>Your message "<%= params[:exampleInputMessage2] %>" </p>
<p>has been sent to <%= params[:exampleInputNumber2] %></p> 

<%=
account_sid = "AC43134ee51df9b1a58cab51f70bb131e9" # Your Account SID from www.twilio.com/console
auth_token = "b0369273e8c0996aae597ad86458a606"   # Your Auth Token from www.twilio.com/console

begin
    @client = Twilio::REST::Client.new account_sid, auth_token
    message = @client.account.messages.create(:body => params[:exampleInputMessage2],
        :to => params[:exampleInputNumber2],    # Replace with your phone number
        :from => "+19787753097")  # Replace with your Twilio number
rescue Twilio::REST::RequestError => e
    puts e.message
end 
%>
