<h1>Congrats!</h1>

<p>Your message <span class="label label-primary">"<%= params[:exampleInputMessage2] %>"</span> </p>
<p>has been sent to <span class="label label-primary"><%= params[:exampleInputNumber2] %></span></p> 

<%=
account_sid = ENV["twilio_api_key"] # Your Account SID from www.twilio.com/console
auth_token = ENV["twilio_oauth"]   # Your Auth Token from www.twilio.com/console

begin
    @client = Twilio::REST::Client.new account_sid, auth_token
    message = @client.account.messages.create(:body => params[:exampleInputMessage2],
        :to => params[:exampleInputNumber2],    # Replace with your phone number
        :from => "+19787753097")  # Replace with your Twilio number
rescue Twilio::REST::RequestError => e
    puts e.message
end 
%>
